Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*|tests/.*'
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'i|n|ms|tt'
